<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1>Welcome to 99Cats, <%= @user.username %>!</h1>
    <p>
      You have successfully signed up to 99Cats.com.<br>
      Your username is <%= @user.username %>.<br>
      
      Enjoy our collection of the amazing cats!
    </p>
  </body>
</html>